/* 左边个人信息 */
.index{margin: 0 auto;bottom:0;top: 0;left: 0;right: 0;overflow-y: auto;position: fixed;max-width: 1200px;}
.personal-info-seize{width: 300px;position: relative;margin:20px;}
.personal-info{width: 300px;position: absolute;top:0;bottom: 0;min-height: 700px;}
.personal-info .top{height: 180px;background-color: #4d4d4d;width: 100%;}
.personal-info .head-portrait{width: 128px;height: 128px;border-radius: 50%;border:5px solid #fff;background:url(../images/head-portrait.jpg);background-size: 100%; margin: 0 auto;margin-top:-64px;}
.personal-info .main-info{text-align: center;}
.personal-info .main-info p.name{font-size: 24px;font-weight: bolder;}
.personal-info .main-info p.occupation{font-size: 18px;font-weight: bolder;}
.personal-info .main-info p.motto{font-size: 14px;}
.personal-info ul li{margin-top:10px;}
.personal-info ul li img{width: 48px;height: 48px;display: inline-block;vertical-align: middle;text-align: left;}
.personal-info ul li span{display: inline-block;vertical-align: middle;width: 170px;text-align: center;}
.personal-info .chat-icon{text-align: center;}
.personal-info .chat-icon img {margin: 0px;width: 32px;height: 32px;margin: 10px;cursor: pointer;}
.qq-qr-code,.wechat-qr-code{position: fixed;top: 50%;left: 50%;margin-left:-128px;margin-top:-128px;display: none;}
.qq-qr-code img,.wechat-qr-code img{width: 256px;height: 256px;}

/* 教育背景 */
.personal-profile{flex: 1;margin:20px 20px 20px 0;flex-direction: column;display: flex;min-height: 700px;}
.personal-profile .menu{padding:0px;height: 40px;margin-bottom: 20px;z-index: 11;}
.personal-profile .menu ul li{display: inline-block;text-align: center;flex: 1;height: 40px;line-height: 40px;cursor: pointer;}
.personal-profile .menu ul li.selection{border-top:2px solid #666;}
.personal-profile .detailed-info{flex: 1;text-align: center;display: flex;flex-direction: column;}
.personal-profile .detailed-info .edu-bg{flex: 1;overflow-y: auto;display: block;min-height: 600px;text-align: left;padding-bottom: 20px;}
.personal-profile .detailed-info .personal-skills{flex: 1;overflow-y: auto;display: none;min-height: 600px;text-align: left;padding-bottom: 60px;padding-top:60px;}
.personal-profile .detailed-info .work-experience{flex: 1;overflow-y: auto;display: none;min-height: 600px;padding-bottom: 20px;padding-top:60px;text-align: left;}
.personal-profile .detailed-info .personal-works{flex: 1;overflow-y: auto;display: none;min-height: 600px;padding-bottom: 20px;padding-top:20px;}
.personal-profile .detailed-info .baseline{display: none;position: relative;height: 25px;}
.personal-profile .detailed-info .baseline i{width: 100%;border: 1px dashed #bbb;position: absolute;top: 12px;left: 0;}
.personal-profile .detailed-info .baseline span{height: 25px;background-image: url(../images/body-bg.jpg);line-height: 25px;position: absolute;font-size: 12px;top: 0px;left: 50%;margin-left:-50px;width: 100px;color:#666;}
/* 个人技能 */
.detailed-info .title{width: 80%;margin: 0  auto;line-height: 40px;font-size: 20px;height: 40px;display: flex;align-items:center;font-weight: bolder;}
.detailed-info .title span{flex: 1;border-bottom: 1px solid #666;}
.detailed-info .edu-bg .school-img{background: url(../images/school-img.png) no-repeat;width: 60%;height: 0px;padding-top:14.751%;background-size: 100%;margin: 40px auto;max-width: 480px;}
.detailed-info .title i{height: 40px;width: 40px;border-radius: 25px;margin-right: 20px;}
.detailed-info .title i.edu {background: url(../images/edu-bg.png) rgba(0,0,0, 0.1);background-size: 100%;}
.detailed-info .title i.honor {background: url(../images/honor.png) rgba(0,0,0, 0.1);background-size: 100%;}
.detailed-info .title i.skills{background: url(../images/skills.png) rgba(0,0,0, 0.1);background-size: 100%;}
.detailed-info .title i.evaluate{background: url(../images/evaluate.png) rgba(0,0,0, 0.1);background-size: 100%;}
.detailed-info .title i.experience{background: url(../images/experience.png) rgba(0,0,0, 0.1);background-size: 100%;}
.detailed-info .edu-bg .info {width: 80%; margin: 20px auto;padding-left: 60px;line-height: 30px;font-size: 16px;}
.detailed-info .personal-skills .info {width: 80%; margin: 40px auto;padding-left: 60px;line-height: 30px;font-size: 16px;}
.detailed-info .personal-skills .line-h40{line-height: 40px;}
.detailed-info .personal-skills .info .left{width: auto;}
.detailed-info .personal-skills .info .right{flex: 1;}
.detailed-info .personal-skills .info .right .progress{height: 40px;padding: 11px 0;}
.detailed-info .personal-skills .info .right span{line-height: 18px;height: 18px;position: relative;border-radius: 20px;background-color: #e2e2e2;display: block;}
.detailed-info .personal-skills .info .right i{position: absolute;left: 0;top: 0;width: 0;max-width: 100%;height: 18px;border-radius: 20px;text-align: right;background-color:#adf71e;transition: all .3s;-webkit-transition: all .3s;display: block;font-size: 12px;font-style: normal;padding-right: 5px;}

/* 工作经历 */
.detailed-info .work-experience .info{width: 80%; margin: 40px auto;padding-left: 60px;line-height: 30px;font-size: 16px;}
/* 个人作品 */

/* 无滚动条 */
::-webkit-scrollbar {width: 0px;height: 0px;}
/* ::-webkit-scrollbar-button {  width: 0;  height: 0;}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {display: none;}
::-webkit-scrollbar-corner {display: block;}
::-webkit-scrollbar-thumb {-webkit-border-radius: 8px;border-radius: 8px;background-color: rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {-webkit-border-radius: 8px;border-radius: 8px;background-color: rgba(0,0,0,0.5);}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {border-right: 1px solid transparent;border-left: 1px solid transparent;}
::-webkit-scrollbar-track:hover {background-color: rgba(0,0,0,0.15);}
::-webkit-scrollbar-button:start {width: 10px;height: 10px;background: url("../images/scrollbar-arrow.png") no-repeat 0 0;}
::-webkit-scrollbar-button:start:hover {background: url("../images/scrollbar-arrow.png") no-repeat -15px 0;}
::-webkit-scrollbar-button:start:active {background: url("../images/scrollbar-arrow.png") no-repeat -30px 0;
}::-webkit-scrollbar-button:end {width: 10px;height: 10px;background: url("../images/scrollbar-arrow.png") no-repeat 0 -18px;}
::-webkit-scrollbar-button:end:hover {background: url("../images/scrollbar-arrow.png") no-repeat -15px -18px;}
::-webkit-scrollbar-button:end:active {background: url("../images/scrollbar-arrow.png") no-repeat -30px -18px;} */

/* 响应式布局 */
@media screen and ( max-width: 800px ){
    .index{width: 100%;display: block;position: unset;}
    .personal-info-seize{width: auto;position: unset;margin: 5px 5px;}
    .personal-info{display: block;width: auto;min-height: 600px;width: 100%;position: unset;}
    .personal-profile{margin:20px 5px 5px 5px;}
    .personal-profile .menu{margin-bottom:10px;font-size: 14px;}
    .personal-profile .menu-fixed{position: fixed;left: 5px;right: 5px;top:0px;}
    .personal-info ul li{margin-top:0px;}
    .personal-info .main-info p.name,
    .personal-info .main-info p.motto,
    .personal-info .main-info ul,
    .personal-info .chat-icon{margin-top: 15px;}
    .personal-info .top{height:150px}
    .personal-profile .detailed-info .edu-bg{margin-top:10px;display: block;min-height: 400px;} 
    .personal-profile .detailed-info .personal-skills{margin-top:10px;display: block;padding-bottom: 20px;padding-top: 40px;min-height: 400px;} 
    .personal-profile .detailed-info .work-experience{margin-top:10px;display: block;padding-top: 40px;min-height: 400px;}
    .personal-profile .detailed-info .personal-works{margin-top:10px;display: block;min-height: 400px;}
    .personal-profile .detailed-info .baseline{display: block;}

    .detailed-info .edu-bg .school-img{width: 80%;margin:  20px auto;padding-top:19.668%}
    .detailed-info .title{line-height: 36px;font-size: 18px;height: 36px;width: 85%;}
    .detailed-info .title i.edu{width: 30px;height: 30px;margin-right: 10px;}
    .detailed-info .title i.honor{width: 30px;height: 30px;margin-right: 10px;}
    .detailed-info .title i.skills{width: 30px;height: 30px;margin-right: 10px;}
    .detailed-info .title i.evaluate{width: 30px;height: 30px;margin-right: 10px;}
    .detailed-info .title i.experience{width: 30px;height: 30px;margin-right: 10px;}
    .detailed-info .edu-bg .info{padding-left: 40px;font-size: 12px;margin: 10px auto;width: 85%;}
    .detailed-info .personal-skills .info{padding-left: 40px;font-size: 12px;margin: 20px auto;width: 85%;}
    .detailed-info .work-experience .info{padding-left: 20px;font-size: 12px;margin: 20px auto;width: 85%;}
}
@media screen and ( max-width: 400px ){
    .detailed-info .edu-bg .info{padding-left: 20px;}
    .detailed-info .personal-skills .info{padding-left: 20px;}
    .detailed-info .work-experience .info{padding-left: 0px;}
}