.T-shirt{min-width:1330px;margin: 0 auto;}
.T-shirt .topbg{min-width: 1330px;background-image: url(../images/T-shirt_top_bg.jpg);background-size: 100% auto;padding-top: 31.25%;}
.T-shirt .mainbg{background-image: url(../images/T-shirt_main_bg.png);background-color: #0463AE;min-width: 1330px;background-repeat: repeat-y;background-size: 100% auto;}
.T-shirt .w1330{width: 1330px;margin: 0 auto;}
.T-shirt .w1330 .mxdk .top{padding-top:15px;}
.T-shirt .w1330 .mxdk .top img{margin: 0 auto;display: block;}
.T-shirt .w1330 .mxdk ul{width: 1350px;margin-left: -20px;clear: both;overflow:hidden;}
.T-shirt .w1330 .mxdk ul li{width: 250px;background-color: #fff;margin:20px 0 0 20px;height: 375px;float: left;}
.T-shirt .w1330 .mxdk ul li a.goods_img{width: 250px;height: 250px;display: block;cursor: pointer;}
.T-shirt .w1330 .mxdk ul li a.goods_img img{width: 250px;height: 250px;}
.T-shirt .w1330 .mxdk ul li .goods_bg{width: 250px;height: 125px;background-image: url(../images/T-shirt_mxdk_goods_bg.jpg);}
.T-shirt .w1330 .mxdk ul li .goods_bg span{text-align: center;width: 250px;display:block;}
.T-shirt .w1330 .mxdk ul li .goods_bg span.name{font-size: 30px;color: white;font-weight: bolder;}
.T-shirt .w1330 .mxdk ul li .goods_bg span.describe{font-size: 25px;color: white;}
.T-shirt .w1330 .mxdk ul li .goods_bg span.link{font-size: 18px;color: #fdd306;height: 26px;line-height: 26px;margin-top: 5px;text-align: right;}
.T-shirt .w1330 .mxdk ul li .goods_bg span.link a{height: 26px;display: block;width: 96px;background-color: #fdd306;color: #fff;line-height: 26px;text-align: center;border-radius: 13px;margin: 0 16px 0 5px;font-size: 16px;font-weight: bolder;float:right;}

.T-shirt .w1330 .right_nav{position: fixed;right: 40px;width: 190px;top:142px;display: block;display: none;}
.T-shirt .w1330 .right_nav .top{width: 190px;background-image: url(../images/T-shirt_nav_top_bg.png);height: 141px;background-repeat: no-repeat;}
.T-shirt .w1330 .right_nav .main{width: 120px;background-color: #1b54a9;margin: -2px auto;padding: 2px;box-sizing: border-box;}
.T-shirt .w1330 .right_nav .main ul{border: 1px solid #64a1ff;box-sizing: border-box;width: 116px;}
.T-shirt .w1330 .right_nav .main ul li{width: 114px;height: 35px;line-height: 35px;display: block;font-size: 18px;text-align: center;color: #ffffff;cursor: pointer;border-bottom: 1px transparent solid;border-image: linear-gradient(to right,#1b54a9 15%,#64a1ff 50%,#1b54a9 85%)10 10;}
.T-shirt .w1330 .right_nav .main ul li.active{background-color: #0f1f3a}
.T-shirt .w1330 .right_nav .main ul li:last-child{border: none;}
.T-shirt .w1330 .right_nav .main ul li em{width: 12px;height: 10px;display: inline-block;background-image: url(../images/T-shirt_nav_gototop.png);margin-right: 8px;}
.T-shirt .w1330 .right_nav .main .code{width: 116px;height: 116px;background-image: url(../images/T-shirt_nav_code.jpg);background-size: 100%}
.T-shirt .w1330 .right_nav .main .code_txt{width: 116px;text-align: center;color: #ffffff;}